* {
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    background-color: #202020;
    background-image: 
    radial-gradient(rgba(51, 51, 51, 0.216) 2px, transparent 2px), 
    radial-gradient(rgba(51, 51, 51, 0.216) 2px, #202020 2px);
    background-size: 30px 30px;
    background-position: 0 0, 15px 15px;
    min-height: 100vh;
}

nav {
    padding: 10px;
    background-color: rgb(26, 26, 26);
    color: white;
    /* box-shadow: 0px 5px 0px rgba(250, 0, 0, 0.399); */
    position: relative;
}


nav::after, nav::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: red;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 0px 0px 3px 0px;
}

nav::before {
    filter: blur(.5rem);
    opacity: 0.5;
}

ul {
    list-style-position: inside;
}

#mainGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
   
}

.container {
    margin: 10px;
    padding: 2em;

}

.container * {
    padding: .5em;
    color: white;
}

a:link {
    color: rgb(119, 119, 119);
    font-style: italic;
}


.card{
    background: rgba(44, 44, 44, 0.564);
    border-radius: .5em;
    position: relative;
}

img {
    width: 60%;
    border-radius: 12px;
}

#inheritedBias {
    background-color: rgba(87, 0, 0, 0.466);
}

#codifiedPast {
    background-color: rgba(32, 87, 0, 0.466);
}

footer {
    color: white;
}
